html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}

h3 {
  font-size: small;
}

.tempsLinks {
  font-size: small;
  position: fixed;
  padding: 10px;
}

.container {
  margin-top: 50px;
  max-width: 900px;
  padding: 10px 20px;

  border: 1px solid;
  box-shadow: 0 8px 32px 0;
  border-radius: 10px;
  border: 1px solid;
}
.weather-app {
  background-size: cover;
  border: 5px solid #7b6fef;
  margin: 20px auto;
  padding: 30px;
  max-width: 700px;
}

.search-area {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.type-city-input {
  border: 2px solid #31255a;
  width: 50%;
}

.type-city-button {
  border: 2px solid #31255a;
  margin-right: 0px;
}

.card {
  background-color: #75b4e3;
  border: none;
  color: #fff;
}

.col {
  background-color: #75b4e3;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 8px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 1;
}

.description {
  font-size: 24px;
}

ul {
  font-size: 10px;
  list-style-type: none;
  text-align: right;
  position: relative;
}

.small {
  text-align: left;
  position: relative;
}
